<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget-body widget-background">
                <div class="form-title-sky form-title-size" translate="core.userInfo.passwordModify"></div>
                <div class="bordered-themeprimary bordered-bottom-2 cut-off-rule"></div>

            <form role="form" name="passwordModifyForm" novalidate>

                <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">
                                <p translate="core.userInfo.currentPassword"></p>
                            </label>
                            <div class="col-sm-8" ng-class="{ 'has-error' : passwordModifyForm.oldValue.$dirty}">
                                <input type="password" name="oldValue"class="form-control input-sm" ng-model="vm.oldValue" ng-change="vm.verifyPassword()" ng-required="true" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">
                            </label>
                            <div class="col-sm-8">
                            <span ng-class="{ 'has-error' : passwordModifyForm.oldValue.$dirty}">
                                <p ng-if="passwordModifyForm.oldValue.$invalid && passwordModifyForm.oldValue.$dirty" class="help-block" translate="core.userInfo.passwordModification.oldNotNull"></p>
                                <p ng-if="!vm.isVerified && passwordModifyForm.oldValue.$dirty && passwordModifyForm.oldValue.$valid" class="help-block" translate="core.userInfo.passwordModification.passwordError"></p>
                                <p ng-if="vm.isVerified && passwordModifyForm.oldValue.$dirty && passwordModifyForm.newValue.$pristine" class="help-block" translate="core.userInfo.passwordModification.passwordOk"></p>
                            </span>
                            </div>
                        </div>
                </div>
                <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">
                                <p translate="core.userInfo.newPassword"></p>
                            </label>
                            <div class="col-sm-8">
                                <span ng-class="{ 'has-error' : passwordModifyForm.newValue.$dirty}">
                                    <input type="password" name="newValue" class="form-control" ng-model="vm.newValue" ng-readOnly="!vm.isVerified" ng-required="true" />
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">
                            </label>
                            <div class="col-sm-8">
                                <span ng-class="{ 'has-error' : passwordModifyForm.newValue.$dirty}">
                                    <p ng-show="passwordModifyForm.newValue.$dirty && vm.isEqual(vm.oldValue, vm.newValue)" class="help-block" translate="core.userInfo.passwordModification.eqold"></p>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">
                                <p translate="core.userInfo.confirmPassword"></p>
                            </label>
                            <div class="col-sm-8" ng-class="{ 'has-error' : passwordModifyForm.newValue.$dirty}">
                                <input type="password" name="confirmValue" class="form-control" ng-model="vm.confirmValue" ng-readOnly="!vm.isVerified" ng-required="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">
                            </label>
                            <div class="col-sm-8">
                                <span ng-class="{ 'has-error' : passwordModifyForm.newValue.$dirty}">
                                    <p ng-show="passwordModifyForm.confirmValue.$dirty && !vm.isEqual(vm.newValue, vm.confirmValue)" class="help-block" translate="core.userInfo.passwordModification.eqnew"></p>
                                </span>
                            </div>
                        </div>
                </div>

            </form>

            <div style="clear: both"></div>
                <div class="row">
                    <div class="form-top-border"></div>
                    <span class="col-lg-2 col-sm-2 col-xs-2 col-sm-offset-9">
                        <button class="btn btn-sm btn-primary pull-right" ng-click="vm.updatePassword()" ng-disabled="!vm.isEqual(vm.newValue, vm.confirmValue)" translate="common.ok"></button>
                    </span>
                </div>
        </div>
    </div>
</div>