<!DOCTYPE html>
<html>
<body>
<table id="usersTable">
    <tr>
        <td class="username">Jeremy Grapefruit</td>
        <td class="usertype">Normal User</td>
    </tr>
    <tr>
        <td class="username" th:text="${ip}">Alice Watermelon</td>
        <td class="usertype" th:text="${hostname}">Administrator</td>
    </tr>
</table>

<h1>Product list</h1>

<table>
    <tr>
        <th>NAME</th>
        <th>PRICE</th>
        <th>IN STOCK</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">Onions</td>
        <td th:text="${user.loginName}">2.41</td>
        <td th:text="${user.emailAddress}">yes</td>
    </tr>

</table>
</body>
</html>