<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hbi.core.azkaban.mapper.ExecutionFlowMapper">
    <resultMap id="baseMap" type="hbi.core.azkaban.entity.record.DBExecutionFlow">
        <result column="exec_id" property="execId"/>
        <result column="project_id" property="projectId"/>
        <result column="version" property="version"/>
        <result column="flow_id" property="flowId"/>
        <result column="status" property="status"/>
        <result column="submit_user" property="submitUser"/>
        <result column="submit_time" property="submitTime"/>
        <result column="upload_time" property="uploadTime"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="enc_type" property="encType"/>
        <result column="flow_data" property="flowData"/>
        <result column="executor_id" property="executorId"/>
    </resultMap>
    <select id="get" resultMap="baseMap">
        SELECT * FROM execution_flows
        WHERE exec_id=#{execId}
    </select>
    <select id="getAll" resultMap="baseMap">
        SELECT * FROM execution_flows
    </select>
</mapper>